# Backend
backend/target/
backend/.idea/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.quasar/
frontend/.vscode/
frontend/yarn.lock

# Capacitor
frontend/android/
frontend/ios/

# Logs
*.log

# Env
.env
frontend/.env
